<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <h1>{{ photopost.hook_text }}</h1>  <!-- do not use capital -->
    <img src="{{ photopost.photo.url }}" alt="Photo" loading="lazy"> <!-- use lazy for optimization -->
    {% for comment in photopost.comment_set.all %}
        <h1>{{ comment.author }}</h1>
        <h1>{{ comment.content }}</h1>
    {% endfor %}

</body>
</html>

